<section class="bg-storage">
  <div class="container">
    <div class="general-container">
      <div class="row align-items-center mb-4">
        <div class="col-12 col-md-9">
          <h1>{{title}} <i class="fas fa-boxes"></i></h1>
        </div>
        <div class="col-12 col-md-3 text-right">
          <a href="/storages/new" class="btn btn-primary"><i class="fa fa-plus mr-2"></i> Add new</a>
        </div>
      </div>
      <div class="row">
        {{#if storages}}
        {{#each storages as |storage|}}
        <div class="col-sm-6 mb-2">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><a href="/storages/{{storage.id}}/edit">{{storage.name}}</a></h5>
              <p class="card-text">{{storage.description}}</p>
                <div class="form-inline">
                  <div>
                    <a href="/storages/{{storage.id}}" class="btn btn-primary"><i class="fa fa-eye"></i></a>
                  </div>
                  <div class="btn-general">
                    <a href="/storages/{{storage.id}}/edit" class="btn btn-info"><i class="fa fa-pencil-alt"></i> </a>
                  </div>
                  <form action="/storages/{{storage.id}}/delete" method="POST">
                    <button class="btn btn-danger"><i class="fa fa-trash"></i> </button>
                  </form>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
      {{/if}}
    </div>
  </div>
</section>