<div class="form-row align-items-center mb-4">
  <div class="form-group col-12">
    <label for="name">Name</label>
    <input type="text" class="form-control  {{#if error.name }}is-invalid{{/if}}" id="name" value="{{ storage.name }}" name="name" required>
    {{#if error.name}}
      <div class="invalid-feedback">
        {{error.name.message}}
      </div>
    {{/if}}
  </div>
  <div class="form-group col-12">
    <label for="description">Description</label>
    <textarea rows="5" type="text" class="form-control {{#if error.description }}is-invalid{{/if}}" name="description" id="description">{{storage.description}}</textarea>
    {{#if error.description}}
    <div class="invalid-feedback">
      {{error.description.message}}
    </div>
    {{/if}}
  </div>
  <div class="col-12 col-md-9">
    <h3>Address</h3>
  </div>
  <div class="col-12 col-md-3 text-right">
      <a href="#0" class="btn btn-success btn-collapser" data-toggle="collapse" data-target="#collapseNewAddress" aria-expanded="false" aria-controls="collapseNewAddress"><i class="fa fa-plus"></i> Add address</a>
  </div>
  <div class="col-12 mt-3">
    <div id="list-addresses" class="row">
      {{#if user.addresses}}
      {{#each user.addresses as |userAdress|}}
      <div class="col-sm-6 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{userAdress.name}}</h5>
            <p>{{userAdress.address}}<br>{{userAdress.city}}</p>
            <div class="custom-control custom-switch">
              <input type="radio" class="custom-control-input {{#if error.address }}is-invalid{{/if}}" name="address" id="address{{userAdress.id}}" value="{{userAdress.id}}" 
                {{#ifEquals ../storage.address._id userAdress._id }}
                  checked="checked"
                {{else}} 
                  {{#ifEquals userAdress.defaultAddress true }}
                  checked="checked"
                  {{/ifEquals}}
                {{/ifEquals}} 
                required>
              <label class="custom-control-label" for="address{{userAdress.id}}">Select this address.</label>
            </div>
            {{#if error.address}}
              <div class="invalid-feedback">
                {{error.address.message}}
              </div>
            {{/if}}
          </div>
        </div>
      </div>
      {{/each}}
      {{/if}}
    </div>
  </div>