<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Storanized</a>
      <ul class="nav justify-content-end">
        {{#if currentUser }}
          <li class="nav-item dropdown">
            <a class="nav-link text-white dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><img class="img-avatar rounded-circle img-fluid" src="{{ currentUser.avatar }}" alt="{{currentUser.name}} {{ currentUser.lastname }}">{{currentUser.name}} {{ currentUser.lastname }}</a>
            <div class="dropdown-menu dropdown-menu-right bg-dark rounded-0">
              <a class="dropdown-item text-light" href="/dashboard">Dashboard</a>
              <a class="dropdown-item text-light" href="/addresses">Adresses</a>
              <a class="dropdown-item text-light" href="/storages">Storages</a>
              <a class="dropdown-item text-light" href="/boxes">Boxes</a>
              <a class="dropdown-item text-light" href="/products">Products</a>
              <div class="dropdown-divider"></div>
              <form action="/logout" method="POST">
                <button class="dropdown-item text-light" type="submit">Logout</button>
              </form>
            </div>
          </li>
          <li class="nav-item mt-1">
            <a class="nav-link nav-link-icon text-white mr-2" href="/junglesales/chats"><i class="fa fa-envelope"></i><span id="badgetNewMsgs" class="d-none ml-2 badge badge-light"></span></a>
          </li>
          <li class="nav-item mt-1">
            <a class="nav-link nav-link-icon bg-danger text-white" href="/junglesales">Jungle Sales <i class="fas fa-feather-alt"></i></a>
          </li>
        {{else}}
          <li class="nav-item mr-2"><a href="/junglesales" class="btn btn-info"><i class="fas fa-feather-alt"></i> Jungle Sales</a></li>
          <li class="nav-item mr-2"><a href="/login" class="btn btn-secondary">Login</a></li>
          <li class="nav-item"><a href="/signup" class="btn btn-primary">Signup</a></li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
{{#if breadcrumbs }}
<nav aria-label="breadcrumb" class="nav-bread">
  <ol id="breadcrumb" class="breadcrumb container">
    {{#each breadcrumbs as |crumb| }}
        <li class="breadcrumb-item">
          {{#if crumb.url}}
            <a href="{{crumb.url}}">{{crumb.name}}</a>
          {{else}}
          <span>{{crumb.name}}</span>
          {{/if}}
          </li>
    {{/each}}
  </ol>
</nav>
{{/if}}