<!DOCTYPE html>
<html>

<head>
  <title>{{{title}}} </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css">
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
  <div id="dashboard" class="container-fluid p-0 " x-data="{ rightSide: false, leftSide: false }">
    {{>partials/sidebarleft}}
    <main class="main">
      <div class="search-bar">
        {{#if breadcrumbs }}
          <nav aria-label="breadcrumb" class="nav-bread">
            <ol id="breadcrumb" class="breadcrumb">
              {{#each breadcrumbs as |crumb| }}
                <li class="breadcrumb-item">
                  {{#if crumb.url}}
                    <a href="{{crumb.url}}">{{crumb.name}}</a>
                  {{else}}
                  <span>{{crumb.name}}</span>
                  {{/if}}
                  </li>
              {{/each}}
            </ol>
          </nav>
        {{/if}}
        {{#if user}}
        <button id="tipNewMsgs" class="right-side-button" @click="rightSide = !rightSide">
          <i class="fa fa-bars fa-2x text-white"></i>
        </button>
        {{/if}}
      </div>
        {{{body}}}
    </main>
    {{>partials/sidebarright}}
    <div class="overlay" @click="rightSide = false; leftSide = false" :class="{ 'active': rightSide || leftSide }"></div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v1.9.4/dist/alpine.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYXm379NbtX6xF2bMJzEb_9R0lyKX5k8A&callback=initMap" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script src="/js/charts.js"></script>
  <script src="/js/index.js"></script>
</body>

</html>