<section class="jungle-bg">
  <div class="container">
    <div class="jungle-prod-info_border">
      <div class="row">
        <div class="jungle-prod">
          {{#each product.attachments as |attachment|}}
          {{#ifEqual attachment.target 'mainImage'}}
          <img src="{{attachment.url}}" alt="{{../product.name}}" class="img-fluid">
          {{/ifEqual}}
          {{/each}}
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="jungle-prod-info">
            <h1 class="jungle-prod-info_name">{{product.name}}</h1>
            <p><strong class="tag">Price:</strong> {{product.price}}€</p>
            <p><strong class="tag">Category:</strong> {{product.category}}</p>
            <p><strong class="tag">Tags:</strong> {{product.tags}}</p>
            <p><strong class="tag">Description:</strong> {{product.description}}</p>
            <p><strong class="tag">Owner:</strong><a
                href="/junglesales/{{product.user._id}}">@{{product.user.username}}</a>
            </p>
            {{#ifEqual user.id product.user._id}}
            <a href="/products/{{product.id}}/edit" class="btn btn-info btn-lg btn-block"><i class="fa fa-pencil-alt mr-2"></i>Edit</a>
            {{else}}
            <form action="/junglesales/chats/new/{{user.id}}/{{product.user._id}}/{{product.id}}" method="POST">
              <button type="submit" class="btn btn-info btn-lg btn-block"> <i class="far fa-comments"></i> Contact with</button>
            </form>
            {{/ifEqual}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>