<section class="bg-address-form">
  <div class="container">
    <div class="general-container">
      <h1 style="text-align: center;">{{title}}</h1>
      <br>
      {{#if address}}
      {{#if error}}
      <div class="alert alert-danger">
        <p class="mb-0">{{error.message}}</p>
      </div>
      {{/if}}
      <p><strong>Name: </strong>{{address.name}}</p>
      <p><strong>Address: </strong>{{address.address}}</p>
      <p><strong>City: </strong>{{address.city}}</p>
      <p><strong>State: </strong>{{address.state}}</p>
      <p><strong>Country: </strong>{{address.country}}</p>
      <p><strong>Postal Code: </strong>{{address.postalCode}}</p>
      <p><strong>Phone: </strong>{{address.phone}}</p>
      <p><strong>Longitude: </strong>{{address.longitude}}</p>
      <p><strong>Latitude: </strong>{{address.latitude}}</p>
      <p style="color: green;">{{#if address.defaultAddress}}Yes{{else}}No{{/if}}Default address</p>
      <div class="address_btn">
        <a href="/addresses/{{address.id}}/edit" class="btn btn-warning">
          <i class="fa fa-pencil-alt mr-2"></i> Edit</a>
        <form action="/addresses/{{address.id}}/delete" method="POST">
          <button class="btn btn-danger"><i class="fa fa-trash mr-2"></i> Delete</button>
        </form>
      </div>
      {{/if}}
    </div>
  </div>
</section>