<h1>{{title}}</h1>
{{#if address}}
{{#if error}}
<div class="alert alert-danger">
  <p class="mb-0">{{error.message}}</p>
</div>
{{/if}}
  <p>{{address.name}}</p>
  <p>{{address.address}}</p>
  <p>{{address.city}}</p>
  <p>{{address.state}}</p>
  <p>{{address.country}}</p>
  <p>{{address.postalCode}}</p>
  <p>{{address.phone}}</p>
  <p>{{address.longitude}}</p>
  <p>{{address.latitude}}</p>
  <p>
  {{#if address.defaultAddress}}Yes{{else}}No{{/if}}Default address</p>
  <div class="row">
    <div class="col-6">
      <a href="/addresses/{{address.id}}/edit" class="btn btn-warning">
      <i class="fa fa-pencil-alt mr-2"></i> Edit</a>
    </div>
    <div class="col-6 text-right">
      <form action="/addresses/{{address.id}}/delete" method="POST">
        <button class="btn btn-danger"><i class="fa fa-trash mr-2"></i> Delete</button>
      </form>
    </div>
  </div>
{{/if}}