<section class="bg-box_all">
  <div class="container">
    <div class="general-container">
      <div class="row align-items-center mb-4">
        <div class="col-12 col-md-9">
          <h1>{{title}} <i class="fas fa-box"></i></h1>
        </div>
        <div class="col-12 col-md-3 text-right">
          <a href="/boxes/new" class="btn btn-primary"><i class="fa fa-plus mr-2"></i> Add box</a>
        </div>
      </div>
      <table class="table" data-toggle="table" data-pagination="true" data-search="true">
        <thead class="thead-primary">
          <tr>
            <th class="text-center">Box</th>
            <th class="text-right">Options</th>
          </tr>
        </thead>
        <tbody>
          {{#each boxes as |box|}}
          <tr>
            <td class="text-rigth">{{box.name}}</td>
            <td class="text-right">
              <div class="btn-group">
                <a href="/boxes/{{box._id}}" class="btn btn-success"><i class="fa fa-eye mr-2"></i> Ver</a>
                <a href="/boxes/{{box.id}}/edit" class="btn btn-info"><i class="fa fa-pencil-alt mr-2"></i> Edit</a>
                <a href="{{box.qrCode}}" target="_blank" class="btn btn-secondary"><i class="fa fa-qrcode mr-2"></i> Qr Code</a>
              </div>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</section>
