<section class="bg-box_all">
  <div class="container">
    <div class="general-container">
      <div class="row align-items-center mb-4">
        <div class="col-12 col-md-9">
          <h1>{{title}} <i class="fas fa-box"></i></h1>
        </div>
        <div class="col-12 col-md-3 text-right">
          <a href="/boxes/new" class="btn btn-primary"><i class="fa fa-plus mr-2"></i> Add box</a>
        </div>
      </div>
      <table class="table" data-toggle="table" data-pagination="true" data-search="true">
        <thead class="thead-primary">
          <tr>
            <th class="text-center">Box</th>
            <th class="text-center">Options</th>
          </tr>
        </thead>
        <tbody>
          {{#each boxes as |box|}}
          <tr>
            <td class="text-rigth">{{box.name}}</td>
            <td class="text-center">
              <a href="/boxes/{{box.id}}"><i class="fa fa-eye mr-2"></i></a>
              | <a href="/boxes/{{box.id}}/edit"><i class="far fa-edit"></i></a>
              | <a href="{{box.qrCode}}"><i class="fas fa-qrcode"></i></a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</section>