<section class="container">
  <h1>{{title}}</h1>
  <div>
    {{#if box}}
    <label for="name">Name:</label>
    <p>{{box.name}}</p>
    <label for="description">Description:</label>
    <p>{{box.description}}</p>
    <label for="location">Location:</label>
    <p>{{box.location}}</p>
    <label for="state">State:</label>
    <p>{{box.state}}</p>
    <label for="qr">Code QR:</label>
    <img src="{{box.qrCode}}" alt="qrCode">
    <label for="qr">Storage:</label>
    <p>{{box.storage._id}}</p>
  </div>
  <section class="container">
    <h3>Products List</h3>
    <table class="table table-hover">
      <thead class="thead-primary">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Tags</th>
          <th scope="col">Is public?</th>
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
        {{#each box.product as |product|}}
        <tr>
          <td>{{product.name}}</td>
          <td class="tag">{{product.tags}}</td>
          <td>
            <input type="checkbox" name="isPublic" id="isPublic" value="{{product.isPublic}}">
          </td>
          <td>
            <a href="/products/{{product._id}}"><i class="fa fa-eye mr-2"></i></a>
            | <a href="/products/{{product._id}}/edit"><i class="far fa-edit"></i></a>
            | <a href="/products/{{product._id}}/delete"><i class="far fa-edit"></i></a> 
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </section>
  {{/if}}
</section>