<section class="container">
  <h1>{{title}}</h1>
  <div>
    {{#if box}}
      <p for="name">Name:</p>
      <p>{{box.name}}</p>
      <p for="description">Description:</p>
      <p>{{box.description}}</p>
      <p for="location">Location:</p>
      <p>{{box.location}}</p>
      <p for="state">State:</p>
      <p>{{box.state}}</p>
      <p for="qr">Code QR:</p>
      <img src="{{box.qrCode}}" alt="qrCode">
      <p for="qr">Storage:</p>
      <p>{{box.storage.name}}</p>
      {{/if}}
  </div>
  <section class="container">
    <h3>Products List</h3>
    {{#if box.products }}
    <table class="table table-hover" data-toggle="table" data-pagination="true" data-search="true">
      <thead class="thead-primary">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Tags</th>
          <th scope="col">Is public?</th>
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
        {{#each box.products as |product|}}
        <tr>
          <td>{{product.name}}</td>
          <td class="tag">{{product.tags}}</td>
          <td>
            <input type="checkbox" name="isPublic" id="isPublic" value="{{product.isPublic}}">
          </td>
          <td>
            <a href="/products/{{product._id}}"><i class="fa fa-eye mr-2"></i></a>
            | <a href="/products/{{product._id}}/edit"><i class="far fa-edit"></i></a>
            | <a href="/products/{{product._id}}/delete"><i class="far fa-edit"></i></a> 
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </section>
  {{/if}}
</section>