{{!-- <table class="table">
  <thead class="thead-primary">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
      {{#each boxes as |box|}}
    <tr>
      <td>{{box.name}}</td>
      <td>{{box.description}}</td>
    </tr>
      {{/each}}
  </tbody>
</table> --}}

<div class="row">
  {{#each boxes as |box|}}
    <div class="col-xl-4 col-lg-6 col-sm-12 mb-4">
      {{box.name}}
    </div>
  {{else}}
    <p>
      No projects matching search: <i>{{box.description}}</i>.<br/>
      <a href="/boxes">All projects</a>
    </p>
  {{/each}}
</div>