<div class="container">
  <div class="row my-4">
    <div class="col-12 col-md-4">
      <img src="{{user.avatar}}" class="img-fluid" alt="{{ user.name }} {{ user.lastname }}">
    </div>
    <div class="col-12 col-md-8">
      <p><b>ID:</b> {{ user.id }}</p>
      <p><b>Username:</b> {{ user.username }}</p>
      <p><b>Email:</b> {{ user.email }}</p>
    </div>
  </div>
  <form action="/dashboard" method="POST" enctype="multipart/form-data" class="my-5">
    <div class="form-row align-items-center">
      <div class="form-group col-12 col-md-6">
        <label for="name">Name</label>
        <input type="text" class="form-control  {{#if error.name }}is-invalid{{/if}}" id="name" value="{{ user.name }}"
          name="name" required>
        {{#if error.name}}
        <div class="invalid-feedback">
          {{error.name.message}}
        </div>
        {{/if}}
      </div>
      <div class="form-group col-12 col-md-6">
        <label for="phoneNumber">Lastname</label>
        <input type="text" class="form-control  {{#if error.lastname }}is-invalid{{/if}}" id="lastname"
          value="{{ user.lastname }}" name="lastname" required>
        {{#if error.lastname}}
        <div class="invalid-feedback">
          {{error.lastname.message}}
        </div>
        {{/if}}
      </div>
      <div class="form-group col-12 col-md-6">
        <label for="phoneNumber">Phone Number</label>
        <input type="text" class="form-control  {{#if error.phoneNumber }}is-invalid{{/if}}" id="phoneNumber"
          value="{{ user.phoneNumber }}" name="phoneNumber">
        {{#if error.phoneNumber}}
        <div class="invalid-feedback">
          {{error.phoneNumber.message}}
        </div>
        {{/if}}
      </div>
      <div class="form-group col-12 col-md-6">
        <label for="genre">Genre</label>
        <select class="custom-select" name="genre" id="genre">
          <option {{#ifEqual user.genre 'Female'}}selected{{/ifEqual}} value="Female">Female</option>
          <option {{#ifEqual user.genre 'Male'}}selected{{/ifEqual}} value="Male">Male</option>
          <option {{#ifEqual user.genre 'Other'}}selected{{/ifEqual}} value="Other">Other</option>
        </select>
      </div>
      <div class="form-group col-12">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="avatar" name="avatar">
          <label class="custom-file-label" for="avatar" data-browse="Browse">Chose file</label>
        </div>
      </div>
      <div class="col-12 offset-md-9 col-md-3">
        <button type="submit" class="btn btn-primary btn-block">Save</button>
      </div>
    </div>
  </form>
</div>