<div class="row">
  <div class="col-12 my-3 mb-2">
    <p><b>Username:</b> {{ user.username }}</p>
    <p><b>Email:</b> {{ user.email }}</p>
  </div>
</div>
<form action="/profile" method="POST" class="my-5" > 
  <div class="form-row align-items-center">
    <div class="form-group col-12 col-md-6">
      <label for="name">Name</label>
      <input type="text" class="form-control  {{#if error.name }}is-invalid{{/if}}" id="name" value="{{ user.name }}" name="name" required>
      {{#if error.name}}
        <div class="invalid-feedback">
          {{error.name.message}}
        </div>
      {{/if}}
    </div>
    <div class="form-group col-12 col-md-6">
      <label for="phoneNumber">Lastname</label>
      <input type="text" class="form-control  {{#if error.lastname }}is-invalid{{/if}}" id="lastname" value="{{ user.lastname }}" name="lastname" required>
      {{#if error.lastname}}
        <div class="invalid-feedback">
          {{error.lastname.message}}
        </div>
      {{/if}}
    </div>
    <div class="form-group col-12 col-md-6">
      <label for="phoneNumber">Phone Number</label>
      <input type="text" class="form-control  {{#if error.phoneNumber }}is-invalid{{/if}}" id="phoneNumber" value="{{ user.phoneNumber }}" name="phoneNumber">
      {{#if error.phoneNumber}}
        <div class="invalid-feedback">
          {{error.phoneNumber.message}}
        </div>
      {{/if}}
    </div>
    <div class="form-group col-12 col-md-6">
      <label for="genre">Genre</label>
      <select class="custom-select" name="genre" id="genre">
        <option {{#ifEquals user.genre 'Female'}}selected{{/ifEquals}} value="Female">Female</option>
        <option {{#ifEquals user.genre 'Male'}}selected{{/ifEquals}} value="Male">Male</option>
        <option {{#ifEquals user.genre 'Other'}}selected{{/ifEquals}} value="Other">Other</option>
      </select>
    </div>
    <div class="form-group col-12">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="avatar" name="avatar">
        <label class="custom-file-label" for="avatar" data-browse="Browse">Chose file</label>
      </div>
    </div>
    <div class="col-12 offset-md-9 col-md-3">
      <button type="submit" class="btn btn-primary btn-block">Save</button>
    </div>
  </div>
</form>
{{#if user.addresses}}
  <p>Address</p>
  {{#each user.addresses as |address|}}
    <p>{{address.name}}</p>
  {{/each}}
{{/if}}
{{#if user.storages}}
  <hr>
  <p>Storages</p>
  {{#each user.storages as |storage|}}
    <p>{{storage.name}}</p>
  {{/each}}
{{/if}}
{{#if user.boxes}}
  <hr>
  <p>Boxes</p>
  {{#each user.boxes as |box|}}
    <p>{{box.name}}</p>
  {{/each}}
{{/if}}
{{#if user.products}}
  <hr>
  <p>Products</p>
  {{#each user.products as |product|}}
    <p>{{product.name}}</p>
  {{/each}}
{{/if}}