<div class="form-group col-12 col-md-5">
  <label for="name">Name</label>
  <input type="text" class="form-control  {{#if error.name }}is-invalid{{/if}}" id="name" value="{{ product.name }}" name="name" required>
  {{#if error.name}}
  <div class="invalid-feedback">
    {{error.name.message}}
  </div>
  {{/if}}
</div>
<div class="form-group col-12 col-md-7">
  <label for="description">Short description</label>
  <input type="text" class="form-control  {{#if error.description }}is-invalid{{/if}}" id="description" value="{{ product.description }}" name="description">
  {{#if error.description}}
  <div class="invalid-feedback">
    {{error.description.message}}
  </div>
  {{/if}}
</div>
<div class="form-group col-12 col-md-6">
  <div class="input-group custom-multi-tags">
    <div class="input-group-prepend">
      <label class="input-group-text" for="tags">Tags</label>
    </div>
    <select class="custom-select" multiple data-role="tagsinput" name="tags" id="tags">
      {{#if product.tags}}
      {{#each product.tags as |tag|}}
      <option value="{{tag}}">{{tag}}</option>
      {{/each}}
      {{/if}}
    </select>
  </div>
  {{#if error.tags}}
  <div class="invalid-feedback">
    {{error.tags.message}}
  </div>
  {{/if}}
</div>
<div class="form-group  col-12 col-md-6">
  <div class="input-group">
    <div class="input-group-prepend">
      <label class="input-group-text" for="category">Category</label>
    </div>
    <select class="custom-select" id="category" name="category">
      {{#each category as |category|}}
      <option value="{{category}}" {{#ifEquals category ../product.category}} selected {{/ifEquals}}>{{category}}</option>
      {{/each}}
    </select>
    {{#if error.category}}
    <div class="invalid-feedback">
      {{error.category.message}}
    </div>
    {{/if}}
  </div>
</div>
<div class="form-group  col-12 col-md-6">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="storageFilter">Filter by Storage</label>
    </div>
    <select class="custom-select" id="storageFilter">
      <option value="" selected></option>
      {{#each user.storages as |storage|}}
      <option value="{{storage.id}}">{{storage.name}}</option>
      {{/each}}
    </select>
  </div>
</div>
<div class="form-group  col-12 col-md-6">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text bg-secondary" for="boxes">Select Box</label>
    </div>
    <select class="custom-select" id="boxes" name="box" disabled>
      <option value="" selected>Please select first storage</option>
    </select>
  </div>
</div>
<div class="form-group col-12 col-md-8">
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="image" name="image">
    <label class="custom-file-label" for="image" data-browse="Browse"><i class="fa fa-image mr-2"></i> Chose image from device</label>
  </div>
</div>  
<div class="form-group col-12 col-md-4">
  <a href="#0" class="btn btn-danger btn-block" id="takeImageProduct" data-toggle="modal" data-target="#openCameraImage">
    <i class="fa fa-camera mr-2"></i>Take a photo
  </a>
</div>
<div class="form-group col-12 col-md-4">
  <label for="price">Price</label>
  <input type="number" class="form-control  {{#if error.price }}is-invalid{{/if}}" id="price" value="{{ product.price }}" name="price">
  {{#if error.price}}
  <div class="invalid-feedback">
    {{error.price.message}}
  </div>
  {{/if}}
</div>
<div class="form-group col-12 col-md-4">
  <label>Check if you want to show it on <b>JungleSales</b></label>
  <div class="custom-control custom-switch">
    <input type="checkbox" class="custom-control-input" name="isPublic" id="isPublic" value="true" {{#ifEquals product.isPublic true }}checked{{/ifEquals}}>
    <label class="custom-control-label" for="isPublic">is Public?</label>
  </div>
</div>
<div class="form-group col-12 col-md-4">
  <label>Check if it is sold or you no longer have it</label>
  <div class="custom-control custom-switch">
    <input type="checkbox" class="custom-control-input" name="isSold" id="isSold" value="true" {{#ifEquals product.isSold true }}checked{{/ifEquals}}>
    <label class="custom-control-label" for="isSold">is Sold?</label>
  </div>
</div>
<div class="form-group col-12">
  <h3>Add gallery images</h3>
</div>
<div class="form-group col-12 col-md-8">
  <div class="custom-file">
    <input type="file" multiple class="custom-file-input" id="attachments" name="attachments[]">
    <label class="custom-file-label" for="attachments" data-browse="Browse"><i class="fa fa-image mr-1"></i><i class="fa fa-image mr-2"></i> Chose images from device</label>
  </div>
</div>  
<div class="form-group col-12 col-md-4">
  <a href="#0" class="btn btn-danger btn-block open-camera-gallery">
    <i class="fa fa-camera mr-2"></i>Take photos
  </a>
</div>